.container {
    display: flex;
}

.page_box {
    padding: 10px;
    border: 2px solid black;
}

.flex_item {
    padding: 5px;
}

.scatter_plt {
    width: 50%;
}

.parrallel_coordinates_plt {
    width: 50%;
}

.bubble_plt {
    width: 33%;
}

.column_plt {
    width: 33%;

}

.selected_movies_list {
    width: 33%;
}

.line {
    fill: none;
    stroke: #2c7bb6;
    stroke-width: 0.5;
    opacity: 0.5;
}

.lineMultipleSelection {
    fill: none;
    stroke: #d7191c;
    stroke-width: 1;
    opacity: 1;
}

.lineHover {
    fill: none;
    stroke: #fdae61;
    stroke-width: 2;
    opacity: 1;
}

.parallelDimensionsText {
    fill: black;
    text-anchor: middle;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-left: 5px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* Disabled effects */
.slider:disabled {
    opacity: 0.1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #7992e8; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #7992e8; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#yearText {
    fill: rgba(196, 196, 196, 0.43);
    text-anchor: middle;
    font-size: 90pt;
    pointer-events: none;

}

.bubbleDot {
    fill: #7992e8;
    opacity: 0.7;
}

.bubbleSelectedDot {
    fill: #ff0000;
    opacity: 1;
}

#selectedMovie {
    overflow: auto;
    border: 2px solid black;
    margin: 10px;
  }

  #noMovieSelected{
    margin: 10px;
  }