.container {
    display: flex;
}

.item {
    padding: 10px;
    border: 2px solid black;
}

.scatter_plt {
    width: 50%;
}

.parrallel_coordinates_plt {
    width: 50%;
}

.bubble_plt {
    width: 33%;
}

.column_plt {
    width: 33%;

}

.selected_movies_list {
    width: 33%;
}

.line {
    fill: none;
    stroke: #7992e8;
    stroke-width: 0.5;
    opacity: 0.5;
}

.lineMultipleSelection {
    fill: none;
    stroke: #DB3A2B;
    stroke-width: 1;
    opacity: 1;
}

.lineHover {
    fill: none;
    stroke: #DB3A2B;
    stroke-width: 2;
    opacity: 1;
}

.parallelDimensionsText {
    fill: black;
    text-anchor: middle;
}